- content_for :breadcrumb do
  = link_to 'Home', root_path
  .breadcrumb-seperator /
  = link_to 'Donors', donors_path
  .breadcrumb-seperator /
  = link_to @donor.name, @donor
  .breadcrumb-seperator /

- content_for :page_title do
  Edit Donor

= render :partial => 'form', :object => @donor
