- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path, 'Donors' => donors_path, @donor.name => @donor)

- content_for :page_title do
  Edit Donor

= render :partial => 'form', :object => @donor
