- content_for :breadcrumb do
  = breadcrumbs('Home' => root_path, 'Bins' => bins_path, @bin.name => @bin, 'Books' => bin_books_path(@bin))

- content_for :page_title do
  Add Book

= render :partial => 'form', :object => @book
