.right {
  float: right;
}

#header {
  padding-top: 44px;
}

table tbody tr.book-recommendation-keep td {
  background-color: #e6efc2;
}
table tbody tr.book-recommendation-trash td {
  background-color: #fbe3e4;;
}

ul.facets {
  margin: 0 0 1em 0;
  padding: 0;
  display: inline;
  height: 100%;

  li {
    display: inline;
    margin-right: 4px;
    padding: 9px 0;
    font-size: 1.0em;
    position: relative;
  }

  @include clearfix;
}
